@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--white: #ffffff;
	--light: whitesmoke;
	--light-grey: #e8e8e8;
	--pink: #ff176b;
	--medium-dark: #777;
	--dark: #242526;
	--border-rad-lg: 15px;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
html,
body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	background-color: #f6f6f6;
}

* {
	box-sizing: border-box;
}
